#logo{
    width: auto;
    height:10em;
    padding-left: 50px;
    padding-top: 50px;
}



.nav{
  overflow: hidden;
  background-color: white;
}

li { 
    display: inline;
}

/* Style the topnav links */
.nav a {
font-family: sans-serif;
    font-size: 20px; 
    text-decoration: none;
    float: right;
    text-align: center;
  display: block;
  color: #1f1a17;
  padding: 10px 12px;
   padding-right: 50px 
}

.nav a:hover {
background-color:white;
  color: #ff13a7;
    font-family: sans-serif;
     
}


.nav li a.active {
    color: #ff13a7;
    font-family: sans-serif;
    text-decoration-line: underline;
}


#copertina{
    width: auto;
    height:25em;
   padding-left: 50px;
    transition: width 2s, height 4s;
}

#copertina:hover{
    width: auto;
  height: 300px;
}


#titolo{  
    font-family: 'Water Brush', cursive;
    text-align: center;
    font-size: 80px;
   
}
.staff {
    color: #ff13a7;
     font-family: 'Water Brush', cursive;
    text-align: center;
font-size: 30px;
}



#testo_rosa{
     color:#ff13a7;
}



#nome_nero {
    color: #1f1a17;
}


#storia { 
    color: #1f1a17;
    font-size: 20px;
    column-count: 2;
     column-gap: 60px;
    line-height: 150%;
    text-align: justify;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    background-color:#ff13a7;
    background: rgba(255,19,167,0.3);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

#personale{
    width: auto;
    height:30em;
   float: left;
    padding-left: 100px;
    padding-bottom: 30px;
}

.testo{
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
     line-height: 150%;
    
}

#sottotitolo{
     font-family: 'Water Brush', cursive;
    font-size: 40px;
     line-height: 150%;

}
.footer{
    background-color:#000000;
     border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

}

#logo2{
    width: auto;
    height:8em;
    padding-top: 0px;
    padding-left:100px;
    float: left;
}

#footers{

    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
    padding-right: 200px;
     line-height: 200%; 
    
}



#colorenat{
   height: auto;
    width: 30%;
      margin-left: 15%;
    border: 4px solid #ff13a7;
  border-radius: 30px;
  padding: 5px;
}

#testocolorenat{
    float: right;
    width: 45%;
    font-size: 25px;
    line-height: 150%;
    padding-right: 50px;
    padding-left: 0px;
     margin-top: 0px;
}

#schiariture{
    
    height: auto;
    width: 30%;
      margin-left: 15%;
    border: 4px solid #ff13a7;
  border-radius: 30px;
  padding: 5px;
    margin-top: 55px;
}

#biondatext{
    float: left;
    width: 30%;
    font-size: 25px;
    line-height: 150%;
    margin-left:200px;
    margin-top: 50px;
    
}

#video{
   height: auto;
    width: 30%;
      margin-left: 15%;
    border: 4px solid #ff13a7;
  border-radius: 30px;
  padding: 5px;
}

#capellirosa{
        float: right;
    font-family: 'Water Brush', cursive;
    font-size: 70px;
     line-height: 150%;
padding-right: 230px;
    padding-left: 0px;
    padding-top: 100px;
}































